.toggle {
  background-color: #fff;
  overflow: hidden;
  display: flex;
  border: solid 0.2em #000;
  border-radius: 1em;
  margin: 0.3em;
  width: max-content;
}

.toggle_vertical {
  flex-direction: column;
}
