@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body,
html {
  font-size: calc(10px + 0.3vw);
  margin: 0;
  padding: 0;
  background-color: #2b3d45;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

#root {
  text-align: center;
  display: flex;
  justify-content: center;
}

a {
  color: #ddd;
}

a:visited {
  color: #bbb;
}

a:hover {
  color: #999;
}

.wrapper {
  margin-top: 0.5em;
  border-radius: 1em;
  padding: 1em;
  background-color: #2a2c34;
  width: 90%;
  max-width: 870px;
}
