@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body,
html {
  font-size: calc(10px + 0.3vw);
  margin: 0;
  padding: 0;
  background-color: #2b3d45;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

#root {
  text-align: center;
  display: flex;
  justify-content: center;
}

a {
  color: #ddd;
}

a:visited {
  color: #bbb;
}

a:hover {
  color: #999;
}
